<app-anheader></app-anheader>

<body class="defult-home">

<!-- Main content Start -->
<div class="main-content">
    <!-- Breadcrumbs End -->            

    <!-- Events Section Start -->
    <div class="rs-gallery pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
           <div class="row">
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">
                        <a class="image-popup" href="assets/images/anpatel/gallery/1.jpg"><img src="assets/images/anpatel/gallery/1.jpg" alt=""></a>
                    </div>
               </div>
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">
                        <a class="image-popup" href="assets/images/anpatel/gallery/2.jpg"><img src="assets/images/anpatel/gallery/2.jpg" alt=""></a>
                    </div>
               </div>
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">                                
                        <a class="image-popup" href="assets/images/anpatel/gallery/3.jpg"><img src="assets/images/anpatel/gallery/3.jpg" alt=""></a>
                    </div>
               </div>
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">                                
                        <a class="image-popup" href="assets/images/anpatel/gallery/4.jpg"><img src="assets/images/anpatel/gallery/4.jpg" alt=""></a>
                    </div>
               </div>
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">                                
                        <a class="image-popup" href="assets/images/anpatel/gallery/5.jpg"><img src="assets/images/anpatel/gallery/5.jpg" alt=""></a>
                    </div>
               </div>
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">                                
                        <a class="image-popup" href="assets/images/anpatel/gallery/6.jpg"><img src="assets/images/anpatel/gallery/6.jpg" alt=""></a>
                    </div>
               </div>
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">                                
                        <a class="image-popup" href="assets/images/anpatel/gallery/7.jpg"><img src="assets/images/anpatel/gallery/7.jpg" alt=""></a>
                    </div>
               </div>
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">                                
                        <a class="image-popup" href="assets/images/anpatel/gallery/8.jpg"><img src="assets/images/anpatel/gallery/8.jpg" alt=""></a>
                    </div>
               </div>
               <div class="col-lg-4 mb-30 col-md-6">
                    <div class="gallery-img">                                
                        <a class="image-popup" href="assets/images/anpatel/gallery/9.jpg"><img src="assets/images/anpatel/gallery/9.jpg" alt="Image"></a>
                    </div>
               </div>
               <div class="col-lg-4 md-mb-30 col-md-6">
                    <div class="gallery-img">                                
                        <a class="image-popup" href="assets/images/anpatel/gallery/10.jpg"><img src="assets/images/anpatel/gallery/10.jpg" alt=""></a>
                    </div>
               </div>
               <div class="col-lg-4 sm-mb-30 col-md-6">
                    <div class="gallery-img">                                
                        <a class="image-popup" href="assets/images/anpatel/gallery/11.jpg"><img src="assets/images/anpatel/gallery/11.jpg" alt=""></a>
                    </div>
               </div> 
               <div class="col-lg-4 col-md-6">
                    <div class="gallery-img">                                
                        <a class="image-popup" href="assets/images/anpatel/gallery/12.jpg"><img src="assets/images/anpatel/gallery/12.jpg" alt=""></a>
                    </div>
               </div>
           </div>
        </div> 
    </div>
    <!-- Events Section End -->  

    
</div> 
<!-- Main content End --> 

</body>
<app-anfooter></app-anfooter>