    <!-- Footer Start -->
    <!-- <footer id="rs-footer" class="rs-footer">
       
    </footer> -->
    <footer id="rs-footer" class="rs-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                        <h4 class="widget-title">Explore</h4>
                        <ul class="site-map">
                            <li><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/basic/history">About</a></li>
                            <li><a routerLink="/basic/trust">Trust</a></li>
                            <li><a href="/basic/about">Infrastructure</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                        <h4 class="widget-title">Useful Links</h4>
                        <ul class="site-map">
                            <li><a routerLink="/home">Gallery</a></li>
                            <li><a routerLink="/basic/library">Result</a></li>
                            <li><a routerLink="/basic/about">Feedback</a></li>
                            <li><a routerLink="/basic/activities">Reports</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget md-mb-50">
                        <h4 class="widget-title">Resources</h4>
                        <ul class="site-map">
                            <li><a routerLink="/glory/old">Committee</a></li>
                            <li><a routerLink="/academic/staff">Department</a></li>
                            <li><a routerLink="/glory/gallery">Student Corner</a></li>
                            <li><a routerLink="#">Course</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                        <h4 class="widget-title">Address</h4>
                        <ul class="address-widget">
                            <li>
                                <i class="flaticon-location"></i>
                                <div class="desc">  Sardar Gunj Road, Gamdi Vad, Sardar Ganj, Anand, Gujarat 388001</div>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                <div class="desc">
                                    <a href="tel:(02692)-267-404">(02692)-267-404</a> 
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-email"></i>
                                <div class="desc">
                                    <a href="mailto: principal@sanppgi.ac.in"> principal@sanppgi.ac.in</a> <br>
                                    <!-- <a href="mailto:dnhs@cesociety.in">dnhs@cesociety.in</a> -->
                                    <!-- <a href="#">www.yourname.com</a> -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">                    
                <div class="row y-middle">
                    <div class="col-lg-4 md-mb-20">
                        <div class="footer-logo md-text-center">
                            <a href="index.html"><img src="assets/images/logo/1_PG.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-4 md-mb-20">
                        <div class="copyright text-center md-text-start">
                            <p>&copy; 2022 All Rights Reserved. Developed By <a href="https://keryar.com/">Keryar</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-end md-text-start">
                        <!-- <ul class="footer-social">
                            <li><a href="https://www.facebook.com/cesociety" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Footer End -->